<body>
        <link rel="stylesheet" type="text/css" href="3blocks.css">
  <!--div class="container"-->
  <div class="red"></div>
  <div class="yellow"></div>
  <!--/div-->
  <div class="blue"></div>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1>
  <h1>Hello World</h1 
</body>
